In [13]:
'''
연도별 논문 갯수 출력
'''

import csv
import pandas as pd


topicNum = 0
year = 2000

yearList = dict()
for i in range(2000,2020):
        yearList[i] = 0

inputFile = open('Article(Korean)/bangje2.csv','r')
rdr = csv.reader(inputFile)
lineNum = 1

for line in rdr:
    if lineNum !=1 and line[1]!='':
        yearList[int(line[0])] += 1
    lineNum += 1

print(yearList)

{2000: 0, 2001: 19, 2002: 23, 2003: 22, 2004: 28, 2005: 28, 2006: 28, 2007: 28, 2008: 100, 2009: 83, 2010: 72, 2011: 75, 2012: 150, 2013: 249, 2014: 222, 2015: 247, 2016: 161, 2017: 224, 2018: 312, 2019: 202}

In [14]:
df = pd.DataFrame(list(yearList.items()),columns = ['year','article']) 

display(df)

    year  article
0   2000        0
1   2001       19
2   2002       23
3   2003       22
4   2004       28
5   2005       28
6   2006       28
7   2007       28
8   2008      100
9   2009       83
10  2010       72
11  2011       75
12  2012      150
13  2013      249
14  2014      222
15  2015      247
16  2016      161
17  2017      224
18  2018      312
19  2019      202

In [9]:
topicNum = 0
year = 2000

yearList = dict()
for i in range(2000,2020):
        yearList[i] = 0

inputFile = open('jungbo.CSV','r')
rdr = csv.reader(inputFile)

for line in rdr:
    yearList[int(line[1])] += 1

print(yearList)

{2000: 0, 2001: 0, 2002: 0, 2003: 0, 2004: 0, 2005: 6, 2006: 7, 2007: 15, 2008: 18, 2009: 15, 2010: 9, 2011: 10, 2012: 33, 2013: 53, 2014: 110, 2015: 123, 2016: 91, 2017: 118, 2018: 73, 2019: 63}

In [10]:
df = pd.DataFrame(list(yearList.items()),columns = ['year','article']) 

print(df)

    year  article
0   2000        0
1   2001        0
2   2002        0
3   2003        0
4   2004        0
5   2005        6
6   2006        7
7   2007       15
8   2008       18
9   2009       15
10  2010        9
11  2011       10
12  2012       33
13  2013       53
14  2014      110
15  2015      123
16  2016       91
17  2017      118
18  2018       73
19  2019       63